{% extends 'notes/notes_base.html' %}

{% block tittle %}
    Note Details
{% endblock %}

{% block content %}
    <div class="container">
        <h2 align="center">{{ object.title }}</h2>
        <p>{{ object.text|safe }}</p>
        <p align="right">{{ object.author }}</p>
        <p align="right">{{ object.created|date }}</p>

        <a class="btn btn-primary" href="{% url 'notes:update' pk=object.pk %}">Edit note</a>

        <a class="btn btn-warning" href="{% url 'notes:list' %}">Back to all notes</a>
    </div>

{% endblock %}
