{% extends 'notes/notes_base.html' %}

{% block tittle %}
    Search
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Found:</h1>
            {% for note in object_list %}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ note.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">published: {{ note.created|date }}</h6>
                        <p class="card-text">{{ note.text|safe }}</p>
                        <a href="{% url 'notes:update' note.pk %}" class="card-link">Edit</a>
                        <a href="{% url 'notes:detail' note.pk %}" class="card-link">Read more</a>
                    </div>
                </div>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
    </div>
{% endblock %}
